$title-bg-color: #1e1e1e; // Fondo oscuro del título
$title-text-color: #ffffff; // Color del texto del título
$title-height: 40px; // Altura de la barra
$title-padding: 10px 20px; // Espaciado interno
$title-border-radius: 10px; // Bordes redondeados

$primary-color: #1db954;
$secondary-color: #282828;
$text-color: #ffffff;
$progress-bg: #404040;
$hover-bg: lighten($secondary-color, 5%);
$selected-bg: $primary-color;
$selected-text: #000000;

body {
  font-family: Arial, sans-serif;
  background: $secondary-color;
  color: $text-color;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  width: 400px;
  background: #121212;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  background-color: $title-bg-color;
  color: $title-text-color;
  height: $title-height;
  padding: $title-padding;
  border-top-left-radius: $title-border-radius;
  border-top-right-radius: $title-border-radius;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: -20px -20px 20px -20px;
}

.drop-area {
  border: 2px dashed $progress-bg;

  &.dragging {
    border-color: $primary-color;
  }
}

.audio-player {
  .controls {
    display: flex;
    justify-content: space-between;

    svg {
      font-size: 80px;
      flex: 1;
      text-align: center;
      color: $progress-bg;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $primary-color;
      }

      &.active {
        color: $primary-color;
      }
    }
  }

  .seek-container {
    margin: 10px 0;
    input[type="range"] {
      width: 100%;
      height: 6px;
      background: $progress-bg;
      border-radius: 5px;
    }
  }
}

.file-list {
  margin-top: 20px;

  h3 {
    display: flex;
    justify-content: space-between;

    .clear-button {
      background: none;
      border: 1px solid $primary-color;
      color: $primary-color;
      padding: 2px 8px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: $primary-color;
        color: $selected-text;
      }
    }
  }

  ul {
    max-height: 400px;
    overflow-y: auto;
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background: $secondary-color;
      border: 1px solid $progress-bg;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: $hover-bg;
      }

      &.selected {
        background: $selected-bg;
        color: $selected-text;
      }
    }
  }
}
