$title-bg-color: #1e1e1e;
$title-text-color: #ffffff;
$title-height: 40px;
$padding: 15px;

$primary-color: #1db954;
$secondary-color: #282828;

$danger-color: #e63946;
$warning-color: #f4a261;

$text-color: darken(#ffffff, 20%);
$progress-bg: #404040;
$hover-bg: lighten($secondary-color, 5%);
$selected-bg: $primary-color;
$selected-text: #000000;

html,
body {
  font-family: Arial, sans-serif;
  background: $secondary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: $secondary-color;
  box-sizing: border-box;
}

.drop-area {
  flex: 1;
  display: flex;
  border: 2px dashed $progress-bg;
  box-sizing: border-box;

  &.dragging {
    border-color: $primary-color;
  }
}

.audio-player {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .track-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: $text-color;
    background-color: darken($secondary-color, 10%);
    padding: $padding;
    margin: -20px;
    margin-bottom: 20px;

    .track-title {
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      animation: marquee 10s linear infinite;
    }

    .track-time {
      font-size: 14px;
      color: lighten($text-color, 20%);
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding;

    svg {
      font-size: 80px;
      color: $progress-bg;
      cursor: pointer;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: $primary-color;
      }
    }
  }

  .seek-volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    .seek-bar {
      flex: 1;
      height: 6px;
      background: $progress-bg;
      border-radius: 5px;
      appearance: none;
      transition: background 0.3s ease-in-out, width 0.3s ease-in-out;

      &:hover {
        background: lighten($progress-bg, 10%);
      }

      &::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        background: $primary-color;
        border-radius: 50%;
        cursor: pointer;
        appearance: none;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .volume-control {
      display: flex;
      align-items: center;
      gap: 5px;

      .volume-icon {
        font-size: 20px;
        color: $text-color;
      }

      .volume-bar {
        width: 100px;
        height: 6px;
        background: $progress-bg;
        border-radius: 5px;
        appearance: none;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: lighten($progress-bg, 10%);
        }

        &::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
          background: $primary-color;
          border-radius: 50%;
          cursor: pointer;
          appearance: none;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.file-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h3 {
    display: flex;
    justify-content: space-between;
    padding: $padding;
    background-color: $title-bg-color;
    margin: 0;

    .clear-button {
      background: none;
      border: 1px solid $warning-color;
      color: $warning-color;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: $warning-color;
        color: $selected-text;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;

    li {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $secondary-color;
      border-bottom: 1px solid $progress-bg;
      font-size: 0.9em;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: $hover-bg;
      }

      &.selected {
        background: $selected-bg;
        color: $selected-text;

        .file-actions .button {
          font-size: 1.2em; /* Se asegura que mantenga el tamaño dentro de selected */
        }
      }

      &:last-child {
        border-bottom: none;
      }

      .file-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;

        .file-name {
          padding-left: $padding;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 80%;
        }

        .file-duration {
          font-size: 0.8em;
          margin-left: auto;
        }
      }

      .file-actions {
        display: flex;
        align-items: center;
        margin-left: 10px;

        .button {
          padding-right: $padding;
          font-size: 1.2em;
          cursor: pointer;
        }
      }
    }
  }
}
